@use "../abstracts" as *;

// -----------------------------------------------------------------------------
// Card
// -----------------------------------------------------------------------------

.card {
    --_card-background: var(--card-background, #{$card-background});
    --_card-border-radius: var(--card-border-radius, #{$card-border-radius});
    --_card-content-padding: var(--card-content-padding, #{$card-content-padding});

    --_card-box-shadow: var(--card-box-shadow, #{$card-box-shadow});

    background: var(--_card-background);
    display: grid;
    border-radius: var(--_card-border-radius);
    box-shadow: var(--_card-box-shadow);

    &:is(:hover, :focus-visible) {
        --_card-box-shadow: #{$card-box-shadow-hover}
    }

    &__content {
        padding: var(--_card-content-padding);
    }
}