@use "../abstracts" as *;

// -----------------------------------------------------------------------------
//
// -----------------------------------------------------------------------------

.site-nav {
    --_site-nav-list-gap: var(--site-nav-list-gap, #{$site-nav-list-gap});
    width: 100%;
    order: 3;
    display: none;

    &__list {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: var(--_site-nav-list-gap);
    }

    &__item {
        position: relative;
        max-width: unset;
        width: 100%;

        &:first-child {
            margin-block-start: var(--space-m);
        }
    }

    &__link {
        --_site-nav-link-foreground: var(--site-nav-link-foreground, #{$site-nav-link-foreground});
        --_site-nav-link-background: var(--site-nav-link-background, #{$site-nav-link-background});
        --_site-nav-link-padding: var(--_site-nav-link-padding, #{$site-nav-link-padding});
        --_site-nav-link-font-size: var(--site-nav-link-font-size, #{$site-nav-link-font-size});
        --_site-nav-link-font-weight: var(--site-nav-link-font-weight, #{$site-nav-link-font-weight});
        --_site-nav-link-border-radius: var(--site-nav-link-border-radius, #{$site-nav-link-border-radius});

        display: block;
        width: auto;
        color: var(--_site-nav-link-foreground);
        background: var(--_site-nav-link-background);
        padding: var(--_site-nav-link-padding, .75rem 1.25rem);
        font-size: var(--_site-nav-link-font-size);
        font-weight: var(--_site-nav-link-font-weight);
        border-radius: var(--_site-nav-link-border-radius);
        text-decoration: none;

        &:is(:hover, :focus-visible),
        &:is(:hover, :focus-visible):not([aria-current="page"]) {
            --site-nav-link-foreground: #{$site-nav-link-foreground-hover};
            --site-nav-link-background: #{$site-nav-link-background-hover};
        }

        &[aria-current="page"] {
            --site-nav-link-foreground: #{$site-nav-link-foreground-active};
            --site-nav-link-background: #{$site-nav-link-background-active};
            --site-nav-link-font-weight: var(--fw-medium);
        }
    }
}


.site-header:has([aria-expanded="true"]) nav {
    display: block;
}


@include mq(md) {
    .site-nav {
        display: flex;

        &,
        &__item {
            width: auto;
        }

        &__item:first-child {
            margin-block-start: 0;
        }
    }
}



// -----------------------------------------------------------------------------
// HAMBURGER
// -----------------------------------------------------------------------------

.hamburger {
    --_hamburger-icon-width: var(--hamburger-icon-width, #{$hamburger-icon-width});
    --_hamburger-icon-foreground: var(--hamburger-icon-foreground, #{$hamburger-icon-foreground});
    --_hamburger-icon-animation-timing: var(--hamburger-icon-animation-timing, #{$hamburger-icon-animation-timing});

    padding: var(--space-xs) var(--space-s);
    background: var(--secondary-800);
    border: 0;
    cursor: pointer;
    border-radius: var(--space-2xs);
    order: 2;

    &__icon {
        height: #{$hamburger-icon-width};

        g {
            --_hamburger-icon-stroke-width: var(--hamburger-icon-stroke-width, #{$hamburger-icon-stroke-width});
            stroke-width: var(--_hamburger-icon-stroke-width);
        }

        .line {
            stroke: var(--_hamburger-icon-foreground);
            transform-origin: center;
            transition: var(--_hamburger-icon-animation-timing);
        }
    }
}

.site-header:has([aria-expanded="true"] > .hamburger__icon)  {
    .line--1 {
        transform-origin: 80% 35%;
        transform: rotate(-45deg);
    }
    .line--2 {
        transform: scaleX(0);
    }
    .line--3 {
        transform-origin: 80% 65%;
        transform: rotate(45deg);
    }
}



@include mq(md) {
    .hamburger {
        display: none;
    }
}