---
layout: layouts/page.vto
---
<div class="grid-auto-fit">
    <div class="content flow">
        {{- content -}}

        <a href="/services/" class="button">Terug naar diensten</a>
    </div>
    <div class="image">
        <img class="image--rounded" src="{{ image }}" alt="{{ title }}">
    </div>
</div>