@use "../abstracts" as *;


// -----------------------------------------------------------------------------
// Site Header
// -----------------------------------------------------------------------------

.site-header {
    position: relative;
    padding-block: #{$site-header-padding-block};
    padding-inline: #{$site-header-padding-inline};
    z-index: 999;

    &__inner {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }
}