@use "sass/abstracts" as *;

@forward "sass/base";
@forward "sass/compositions";
@forward "sass/utilities";
@forward "sass/blocks";


// -----------------------------------------------------------------------------
//
// -----------------------------------------------------------------------------

h1, h2, h3 {
    color: var(--neutral-800);
}

h1, .h1 {
    --heading-font-size: var(--fs-800);
}

h2, .h2 {
    --heading-font-size: var(--fs-700);
}

h3, .h3 {
    --heading-font-size: var(--fs-600);
}


label {
    color: var(--neutral-800);
    font-weight: var(--fw-semibold);
}


// -----------------------------------------------------------------------------
// UTILITIES
// -----------------------------------------------------------------------------

.region {
    padding-block: var(--region-space, #{$region-space});
}


.tag {
    padding: var(--space-3xs) var(--space-xs);
    border-radius: 999em;
    background: var(--neutral-50);
    text-decoration: none;
}


.brick-background {
    background-image: url("data:image/svg+xml,%3Csvg width='42' height='44' viewBox='0 0 42 44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='brick-wall' fill='rgba(0, 0, 0, 0.05)' fill-opacity='0.4'%3E%3Cpath d='M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}


.unset-content {
    & > :is(p, li) {
        max-width: unset;
    }

    & > :is(h1, h2, h3):first-child {
        margin-block-start: 0;
    }
}


// -----------------------------------------------------------------------------
// EXEPTIONS
// -----------------------------------------------------------------------------

.brand {

    & > svg {
        height: 4ex;
    }

    &__name {
        --brand-name-foreground: var(--neutral-900);
        --brand-font-size: var(--fs-300);
        --brand-font-weight: var(--fw-bold);
    }
}


.site-nav__item .button {
    --button-font-size: #{$site-nav-link-font-size};
}


.widget {
    padding: var(--space-s) var(--space-m);
    background: var(--neutral-50);

    & > p {
        margin-block-start: 0;
    }
}



// -----------------------------------------------------------------------------
//
// -----------------------------------------------------------------------------

.block {
    &__title {
        --_block-title-color: var(--block-title-color, var(--accent-500));
        color: var(--_block-title-color);
        font-size: var(--fs-200);
        font-weight: var(--fw-bold);
        text-transform: uppercase;
        border-left: 3px solid var(--_block-title-color);
        padding-inline-start: var(--space-2xs);
        letter-spacing: .15ch;
    }

    &__subtitle {
        --heading-foreground: var(--neutral-950);
        margin-block-start: 8px;
        max-width: 20ch;
    }
}


// -----------------------------------------------------------------------------
// PAGINA: Home pagina
// -----------------------------------------------------------------------------

//
// BLOCK: Hero
// 

.hero {
    height: calc(100dvh - 90px);
    overflow: clip;

    .video-section__content {

        .block__title {
            border: 0;
            padding-left: 0;
        }

        .block__subtitle {
            color: var(--neutral-50);
            max-width: unset;
        }

        .button.circle {
            padding: var(--space-xs);
            border-radius: 999rem;
        }
    }
}


//
// BLOCK: Projecten
//

.projecten {
    .grid {
        margin-block-start: var(--space-l-2xl);
    }

    .card {
        --card-padding: 0;
        overflow: clip;

        &__content {
            padding: var(--space-s) var(--space-m);

            & > :first-child {
                margin-block-start: 0;
            }
        }
    }
}


//
// BLOCK: Diensten
// 

.diensten {
    --content-max-width: 1280px;

    .grid {
        --grid-min-col-size: clamp(16rem, 33%, 22rem);
        margin-block-start: var(--space-l-2xl);
    }

    .card {
        background: linear-gradient(
            white,
            white 50%,
            var(--accent-200) 50%,
            var(--accent-300)
        );
        background-size: 100% 200%;
        transition: background 300ms ease-in;

        .icon {
            --_neutral-color: var(--neutral-color, var(--neutral-700));
            --_accent-color: var(--accent-color, var(--accent-500));

            height: 6ex;
            margin-inline: auto;
            transition: fill 300ms ease-in-out;
        }

        &:hover {
            color: var(--neutral-950);
            box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
            background-position: 100% 100%;

            .icon {
                --accent-color: var(--neutral-950);
                --neutral-color: var(--neutral-950);
            }
        }
    }

    .button {
        justify-content: center;
    }
}


//
// BLOCK: Testimonials
//

.testimonials {
    background: var(--neutral-50);

    .flex-group {
        align-items: center;
        justify-content: space-between;
        width: unset;
    }
}





// -----------------------------------------------------------------------------
// PAGINA: About
// -----------------------------------------------------------------------------

.about {
    .block {
        margin-block-end: inherit;
    }

    &--homepage {
        .block__title {
            --block-title-color: var(--neutral-800);
        }
    }
}



// -----------------------------------------------------------------------------
// PAGINA: Project single
// -----------------------------------------------------------------------------


.project {

}

.gallery {
    --region-space: 3.3vmax;

    &__list {}

    &__item {
        position: relative;
        border: 1px solid var(--neutral-500);
        overflow: clip;
    }

    &__img {
        aspect-ratio: 1;
        width: 100%;
        height: 100%;
        object-fit: cover;
        scale: 1;
        transition: 300ms ease-in;
    }

    &__item:hover {
        .gallery__img {
            scale: 1.2;
            box-shadow: #{$card-shadow};
        }
    }
}



// -----------------------------------------------------------------------------
// PAGINA: Contact
// -----------------------------------------------------------------------------

.contact {
    .company-info {
        & > li {
            align-items: center;
        }
    }
    
    .social-links {
        display: flex;
        flex-wrap: wrap;
        gap: var(--space-s-l);
    
        .social {
            ion-icon {
                color: var(--accent-600);
                font-size: 48px;
                transition: color 300ms ease-in-out;
            }
          
            &:is(:hover) {
                ion-icon {
                    color: var(--neutral-800);
                }
            }
        }
    }
}



// -----------------------------------------------------------------------------
// PAGINA: Offerte formulier
// -----------------------------------------------------------------------------

.offerte {

    .field-description {
        margin-block-start: 0;
        font-size: var(--fs-300);
        max-width: unset;
    }

}



// -----------------------------------------------------------------------------
// PAGINA: Algemene voorwaarden
// -----------------------------------------------------------------------------

.algemene-voorwaarden {
    --content-max-width: 65ch;

    & > * {
        max-width: unset;
    }
}



// -----------------------------------------------------------------------------
// Site Footer
// -----------------------------------------------------------------------------

.site-footer {
    --region-space: calc(#{$region-space} / 2);

    &__inner {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }
}