// -----------------------------------------------------------------------------
// Pile
// -----------------------------------------------------------------------------

.pile {
    display: grid;
    grid-template-areas: "pile";

    & > * {
        grid-area: pile;
    }
}