---
layout: layouts/shared/default.vto
---
<section class="[ about ] [ full full-width-split-screen ] [ ]">
  <div>
    <div class="block">
      <span class="block__title">{{ section_about.block_title }}</span>
      <h2 class="block__subtitle">{{ section_about.title }}</h2>
    </div>
    {{- content -}}
  </div>
  <img src="{{ section_about.image }}" alt="{{ section_about.alt }}">
</section>
{{ include "partials/blocks/testimonials.vto" }}