---
layout: layouts/page.vto
templateEngine: [vto, md]
---

<section class="[ mast ] [ full-width ] [ region bgcolor-accent-150 ]">
    <h1 class="block--title color-neutral-950 text--centered">{{ title }}</h1>
</section>
<article class="[ algemene-voorwaarden ] [ narrow ] [ region flow ]">
{{- content -}}
</article>