---
layout: layouts/page.vto
---

<section class="[ services ] [] [ region ]">
    <div class="grid-auto-fit" data-cols="two">
        <div class="content">
            {{- content -}}
        </div>
        <div>
            <img src="{{ image |> toWebp }}" alt="{{ title }} foto">
        </div>
    </div>
</section>