@use "../abstracts" as *;

// -----------------------------------------------------------------------------
// Body Settings
// -----------------------------------------------------------------------------

body {
    --_body-foreground: var(--body-foregroun, #{$body-foreground});
    --_body-background: var(--body-backgroun, #{$body-background});
    --_body-font-family: var(--body-font-family, #{$body-font-family});
    --_body-font-size: var(--body-font-size, #{$body-font-size});
    --_body-font-weight: var(--body-font-weight, #{$body-font-weight});
    --_body-line-height: var(--body-line-height, #{$body-line-height});

    color: var(--_body-foreground);
    background: var(--_body-background);
    font-family: var(--_body-font-family);
    font-size: var(--_body-font-size);
    font-weight: var(--_body-font-weight);
    line-height: var(--_body-line-height);
}


// -----------------------------------------------------------------------------
// Heading Settings
// -----------------------------------------------------------------------------

h1, h2, h3 {
    --_heading-foreground: var(--heading-foreground, #{$heading-foreground});
    --_heading-font-family: var(--heading-font-family, #{$heading-font-family});
    --_heading-font-size: var(--heading-font-size, #{$heading-font-size});
    --_heading-font-weight: var(--heading-font-weight, #{$heading-font-weight});
    --_heading-line-height: var(--heading-line-height, #{$heading-line-height});

    color: var(--_heading-foreground);
    font-family: var(--_heading-font-family);
    font-size: var(--_heading-font-size);
    font-weight: var(--_heading-font-weight);
    line-height: var(--_heading-line-height);
}


// -----------------------------------------------------------------------------
// Anchor Settings
// -----------------------------------------------------------------------------

a:not(:has([class])) {
    --_anchor-foreground: ;
}