<section class="[ cta ] [ full-width text--center ] [ region flow ]">
    <h3 class="block__title">{{ cta_section.title }}</h3>
    <div>
        <a href="{{ cta_section.button.url }}" class="button" data-ghost-button>{{ cta_section.button.title }}</a>
    </div>
</section>